@import '@/styles/variables.scss';

.bio {
    display: flex;
    flex-direction: column;

    h1 {
        line-height: 28px;
    }
}

.greetings {
    font-family: 'Medium';
    margin-bottom: map-get($map: $layoutDimensions, $key: 'gap-md');
}

.skills {
    display: flex;
    flex-direction: column;
    gap: map-get($map: $layoutDimensions, $key: 'gap-md');

    margin-top: map-get($map: $layoutDimensions, $key: 'gap-md');
}

@media (max-width: 768px) {
    .skills {
        h1,
        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }

        span {
            font-size: 14px;
        }
    }
}
