@import '@/styles/variables.scss';

.headerWrapper {
    height: map-get($map: $layoutDimensions, $key: 'header-height');
    margin-bottom: map-get($map: $layoutDimensions, $key: 'padding-lg');
    padding: map-get($map: $layoutDimensions, $key: 'padding-sm');

    letter-spacing: 0px;
}

.resumeHeader {
    justify-content: space-between;
}
