@import '@/styles/variables.scss';

.skillsList {
    gap: map-get($map: $layoutDimensions, $key: 'gap-sm');

    .skill {
        font-size: map-get($map: $fontSizes, $key: 'md');
    }

    @media (max-width: 768px) {
        margin-top: -4px;
    }
}
